<template>
  <div class="binary-row">
    <Square :active="rowValue[0] == '1'"></Square>
    <Square :active="rowValue[1] == '1'"></Square>
    <Square :active="rowValue[2] == '1'"></Square>
    <Square :active="rowValue[3] == '1'"></Square>
    <div class="value">{{ value }}</div>
  </div>
</template>

<script>
import Square from "@/components/Binary/Square";
export default {
  components: {
    Square
  },
  computed: {
    rowValue() {
      return parseInt(this.value, 10).toString(2).padStart(4, '0');
    }
  },
  props: {
    value: String
  }
};
</script>

<style scoped>
.value {
  text-align: center;
  color: #eaf0f1;
  font-size: 40px;
}
</style>
