<template>
  <div class="binary-square" :class="{ active }"></div>
</template>

<script>
export default {
  props: {
    active: Boolean
  }
};
</script>
<style scoped>
.binary-square {
  margin: 20px 10px;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0 0);
  border-radius: 100%;
  transition: background-color 0.2s linear;
}
.binary-square.active {
  background-color: #eaf0f1;
  
}
</style>
