<template>
  <div>
    <clock
      :time="time"
      size="500px"
      bg="rgba(255, 255, 255, 0)"
      border="0px solid white"
    ></clock>
    <div class="second-circle"></div>
    <div class="minute-circle"></div>
    <div class="hour-circle"></div>
  </div>
</template>

<script>
import Clock from "vue-clock2";
export default {
  components: {
    Clock,
  },
  props: {
    time: String,
  },
};
</script>
<style>

.clock-hour {
  background: white !important;
  width: 20px !important;
  transform-origin: 10px 80px !important;
  top: 34% !important;
  left:48.5% !important;
  height: 20px !important;
  border-radius: 20px !important;
}
.clock-minute {
  background: white !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 15px !important;
  top: 24% !important;
  left:49% !important;
  transform-origin: 7.5px 129px !important;
}
.clock-second {
  background: white !important;
  width: 10px !important;
  transform-origin: 5.5px 175px !important;
  height: 10px !important;
  left:49% !important;
  border-radius:11px !important;
  
}
.hour {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.clock-circle {
  border: white !important;
  left: 50% !important;
  color: white !important;
  height:50px !important;
  width:50px !important;

}
.clock-circle::before {
  display: none !important;
}
.second-circle, .minute-circle, .hour-circle{
  background: none;
  top:50%;
  left: 50%;
  position: absolute;
  border-radius:100%;

}

.second-circle{
  height:330px;
  width:330px;
  margin-left: -175px;
  margin-top:-175px;
  border:10px solid rgba(255,255,255,0.1);
}

.minute-circle{
  height:227px;
  width:227px;
  margin-left: -127.5px;
  margin-top:-129px;
  border:15px solid rgba(255,255,255,0.1);
  
}

.hour-circle{
  height:120px;
  width:120px;
  margin-left: -80px;
  margin-top:-80px;
  border:20px solid rgba(255,255,255,0.1);
}
</style>
