<template>
  <div class="binary">
    <table>
        <tr>
            <td>
                <Row :value="time[0]"></Row>
            </td>
            <td>
                <Row :value="time[1]"></Row>
            </td>
            <td class="colon-col">
                :
            </td>
            <td>
                <Row :value="time[3]"></Row>
            </td>
            <td>
                <Row :value="time[4]"></Row>
            </td>
            <td class="colon-col">
                :
            </td>
            <td>
                <Row :value="time[6]"></Row>
            </td>
            <td>
                <Row :value="time[7]"></Row>
            </td>
        </tr>
    </table>
  </div>
</template>

<script>
import Row from '@/components/Binary/Row'
export default {
  props:{
      time:String
  },
  components: {
      Row
  },
};
</script>
<style>
.colon-col{
    color:white;
    font-size:30px;
    vertical-align: bottom;
    padding-bottom:3px;
}
</style>
