<template>
  <digital-clock :blink="true" class="digital-clock" />
</template>

<script>
import DigitalClock from "vue-digital-clock";

export default {
  components: {
    DigitalClock
  }
};
</script>
<style>
.digital-clock {
  font-size: 36vw;
  color: #eaf0f1;
}
</style>
