<template>
  <div id="app" v-hotkey="keymap">
    <div
      style="position: fixed; z-index: -99; width: 100%; height: 100%"
      class="video-bg"
    >
    </div>
    <Digital v-if="currentView == 'digital'"></Digital>
    <Binary v-if="currentView == 'binary'" :time="datenow"></Binary>
    <Analog v-if="currentView == 'analog'" :time="datenow"></Analog>
  </div>
</template>
<script>


import moment from "moment";
import Digital from "@/components/Digital";
import Binary from "@/components/Binary";
import Analog from "@/components/Analog";
export default {
  name: "App",
  data() {
    return {
      
      livestreamid: 'mPy_tLqoVrc',
      currentView: "analog",
      datenow: "",
      interval: null,
    };
  },
  components: {
    Digital,
    Binary,
    Analog,
  },
  methods: {
    time() {
      var self = this;
      //new Date(2020, 4, 16, 0, 0, 0, 0)
      this.datenow = moment().format("hh:mm:ss");

      setTimeout(self.time, 1000);
    },
  },
  mounted: function() {
    console.log("Mounted");
    this.time();
  },
  beforeDestroy() {
    console.log("Destroyed");
    if (this.interval) clearInterval(this.interval);
  },
  computed: {
    livestreamurl() {
      return 'https://youtube.com/embed/' + this.livestreamid + '?autoplay=1&controls=0&showinfo=0&autohide=1';
    },
    keymap() {
      return {
        "u": () => {
          this.livestreamid = prompt("Youtube Livestream ID")
        },
        // 'esc+ctrl' is OK.
        "1": () => {
          this.currentView = "digital";
        },
        "2": () => {
          this.currentView = "binary";
        },
        "3": () => {
          this.currentView = "analog";
        },
      };
    },
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,
body {
  height: 100%;
  margin: 0px;
  background: rgba(0,0,0,1);
}
#app {
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(0,0,0,0);
}

.video-bg_none {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
</style>
